/* CSS Start From Here */

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}



/* Header Start */

.header_content-Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#header {
    background: #fff;
    padding: 2px 40px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 4px #80808087;
    z-index: 9999;
}

.Logo h2, a{
    color: #04457a;
    font-size: 26px;
}

.nav_Bar nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_Bar nav ul li {
    margin-right: 20px;
}

.nav_Bar nav ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.nav_Bar nav ul li a:hover {
    color: #005fac;
}

/* Header End */



/* Main Section Start */

#main_section {
    background-image: url("../images/banner/banner2_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 220px 0px 150px;
}

.main_txt h1 {
    margin: 0;
}

.main_sec_Wrapper {
    width: 560px;
}

.main_txt h1 {
    font-size: 50px;
    color: #151414;
}

.main_txt p {
    margin: 20px 0px 30px 0px;
    color: #686869;
}

.Contact_btn {
    background: #005fac;
    color: #fff;
    padding: 16px 36px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #005fac;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contact_btn:hover {
    color: #005fac;
    background: transparent;
    border: 1px solid #005fac;
}

.Contact_btn i {
    font-size: 12px;
    display: inline-block;
    padding: 0px 6px 0px 0px;
}

/* Main Section End */



/* My Failures Section Start */

#Failures_Section {
    padding: 140px 0px;
}

.failures_Section_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
}

.F_Sec_Img {
    width: 60%;
    margin-right: 70px;
}

.F_Sec_Img img {
    width: 100%;
}

.F_Sec_Txt {
    width: 80%;
}

.F_Sec_Txt h3 {
    color: #151414;
    font-size: 30px;
    margin: 0;
}

.F_Sec_Txt {
    width: 80%;
    margin-top: 100px;
}

.F_Sec_Txt h3 {
    color: #151414;
    font-size: 30px;
    margin: 0;
}

.F_Sec_Txt p {
    color: #757575;
    font-size: 14px;
    padding: 0px 275px 0px 0px;
}

ul.F_Sec_List li {
    margin-bottom: 13px;
    font-size: 14px;
    color: #757575;
}

ul.F_Sec_List li i {
    color: #1ed98b;
    margin-right: 4px;
}

/* My Failures Section End */



/* My Plans Section Start */

.SecTitle h2 {
    font-size: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 70px;
    margin-top: 0;
}

.Plans_Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.Plans_Wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #f0f8ff;
    margin-right: 30px;
    border-radius: 10px;
    padding-top: 20px;
}

.plan_txt {
    text-align: center;
}

.plan_txt h3 {
    font-size: 22px;
    margin: 20px 0px 0px 0px;
    color: #151414;
    font-weight: 900;
}

.plan_txt p {
    margin: 18px 0px 20px 0px;
    font-size: 16px;
    color: #737272;
    font-weight: 600;
}

.plan_Icon {
    width: 75px;
    height: 75px;
}

.plan_Icon img {
    width: 100%;
}

/* My Plans Section End */



/* Mindset Section Start */

#Mindset_Section {
    padding: 140px 0px;
}

.minset_box {
    background-image: url("../images/watch.png");
    width: 800px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 0px 40px 30px;
    position: relative;
    overflow: hidden;
}

.minset_box img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.mindset_txt {
    z-index: 22;
}

.mindset_txt h3 {
    color: #fff;
    font-size: 30px;
    padding-right: 300px;
    margin-bottom: 13px;
}

.Mind_Contact_btn{
    background-color: #fff;
    color: #005fac;
    border: 1px solid #005fac;
    padding: 12px 25px;
    font-weight: 600;
}

.Mind_Contact_btn:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

/* Mindset Section End */



/* Blog Section Start */

#Blog_section {
    padding-bottom: 130px;
}

.sec_title {
    width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.sec_title h2 {
    margin: 0;
    font-size: 35px;
    color: #151414;
}

.sec_title p {
    color: #737272;
    font-size: 14px;
}

.sec_title {
    width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.sec_title h2 {
    margin: 0;
    font-size: 35px;
    color: #151414;
}

.sec_title p {
    color: #737272;
    font-size: 14px;
}

.blog_wrapper {
    display: flex;
    animation: c;
    justify-content: center;
    margin-left: 30px;
}

.blog_wrapper .blog_box {
    margin-right: 30px;
}

.author\+Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_txt {
    background-color: #f9f9ff;
    border-radius: 0px 0px 10px 10px;
}

.some_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.blog_txt hr {
    border-color: #7372724d;
    width: 290px;
}

.author p {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
    color: #222;
}

.some_info > p {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
    color: #222;
    margin-right: 15px;
}

.some_info > p:hover {
    color: #005fac;
}

.author p:hover {
    color: #005fac;
}

.detail_post {
    padding: 10px 15px 40px;
}

.detail_post h4 {
    font-size: 18px;
}

.detail_post h4:hover {
    color: #005fac;
}

.detail_post p {
    color: #777f83;
    font-size: 14px;
}

.blog_box-3 .detail_post h4 {
    padding-bottom: 25px;
}

/* Blog Section End */



/* Footer Start */

#footer {
    background-color: #151414;
    color: #f8f8f8;
    padding: 90px 0px 50px;
}

.foot_Contnt_Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_Contnt_Wrap .contact_info {
    width: 50%;
}

.foot_Contnt_Wrap .subscribe_box {
    width: 25%;
}

.contact_info h2 {
    font-size: 40px;
}

.contact_info p {
    color: #e7e7e7;
    font-size: 13px;
    padding-right: 185px;
}

.contact_info_p2 {
    margin-top: 40px;
}

.social_links a {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social_links {
    margin-top: 40px;
}

.subscribe_box h3 {
    font-size: 27px;
}

.subscribe_box form input {
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
    margin-bottom: 16px;
    padding-left: 15px;
    border-radius: 9px;
}

.subs_btn {
    font-size: 16px;
    padding: 13px 30px;
}

/* Footer End */